body {
    font-family: cursive;
}

.navbar {
    z-index: 1;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(15px);
    position: sticky;
    top: 0;
    padding-left: 8rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons {
    align-self: center;
    margin-right: 50px;
}

.buttons :nth-child(1) {
    margin-right: 25px;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.buttons :nth-child(2) {
    background: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
}

.mainimg {
    position: relative;
    display: block;
    width: 90%;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    object-fit: none;
    border-radius: 15px;
}

.maintext {
    color: white;
    position: absolute;
    top: 40%;
    left: 10%;
    margin-right: 50px;
}

.maintext h1 {
    font-size: 50px;
}

.maintext p {
    margin-top: -25px;
    font-size: 15px;
}

.maintext button {
    font-size: 15px;
    margin-top: 25px;
    color: white;
    background-color: rgb(0, 68, 255);
    padding: 10px 25px 10px 25px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.searchbar {
    border-radius: 15px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.sbcontent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
}

.sb-text {
    margin-bottom: 3vh;
}

.sb-text a {
    color: rgb(0, 68, 255);
    text-decoration: none;
}

.search-btn:hover>input {
    width: 150px;
}

.search-btn {
    align-self: center;
    padding: 10px 15px 10px 10px;
    border-radius: 20px;
    background-color: rgb(0, 68, 255);
    border: none;
    cursor: pointer;
}

.search-btn input {
    outline: none;
    background-color: rgb(0, 68, 255);
    border: none;
    width: 0px;
    transition: 0.4s ease;
    color: white;
}

.search-btn input::placeholder {
    color: white;
}

.search-btn a {
    color: white;
}


/* ---------------------section2 */

.sec2 {
    overflow-x: hidden;
    position: relative;
    border-radius: 15px;
    background: rgb(228, 227, 227);
    width: 90%;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

.sec2 .title {
    padding-top: 20px;
    padding-left: 55px;
}

.cards {
    padding-bottom: 65px;
    display: flex;
}

.card img {
    width: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.6s ease;
}

.card-t,
.card-p {
    margin-left: 20px;
}

.card p {
    margin-top: -20px;
    color: grey;
}

.card {
    cursor: pointer;
    margin-left: 50px;
    background: white;
    border-radius: 10px;
    transition: 0.6s ease;
}

.card:hover.card img {
    filter: brightness(70%);
}

.card:hover {
    background: rgba(255, 255, 255, 0.445);
}

.sec2 .arrowl {
    position: absolute;
    top: 50%;
    left: 2%;
}

.sec2 .arrowr {
    position: absolute;
    top: 50%;
    right: 2%;
}

.sec2 .arrowl,
.arrowr {
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.blur-r {
    top: 18%;
    position: absolute;
    backdrop-filter: blur(2px);
    height: 250px;
    width: 45px;
}

.blur-l {
    right: 0%;
    top: 18%;
    position: absolute;
    backdrop-filter: blur(2px);
    height: 250px;
    width: 45px;
}


/* ---------------------section3 */

.sec3 {
    margin-top: 150px;
    margin-left: 9%;
    margin-right: 9%;
    text-align: center;
}

.sec3 .title {
    margin-top: 100px;
}

.sec3-cards {
    display: flex;
    justify-content: space-around;
}

.sec3-img {
    border-radius: 15px;
    height: 550px;
    width: 450px;
    overflow: hidden;
}

.sec3-card img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: 0.4s ease-in-out;
}

.sec3-card img:hover {
    transform: scale(1.2);
    filter: brightness(70%);
}


/* ---------------------footer */

.footer {
    border-top: 3px solid rgb(228, 227, 227);
    padding: 2% 10% 2% 10%;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

.footer-el {
    display: flex;
    justify-content: space-between;
}

.subscribe {
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
    align-self: center;
    border-radius: 20px;
    display: flex;
}

.subscribe input {
    outline: none;
    border: none;
}

.subscribe-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: red;
}